* {
  font-family: andy-money, Noto Sans, Mitr, Athiti, Noto Sans TC, Noto Sans SC,
    system-ui, -apple-system, Segoe UI, sans-serif;
}
.menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .menuTitle {
  font-family: cursive;
  font-size: 60px;
}

.menuList {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.menuItem {
  border-radius: 15px;
  width: 400px;
  margin: 20px;
}
.menuItem:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.menuItem div {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menuItem p {
  color: #333;
  text-align: center;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuItem h1 {
  color: #333;
  font-size: 18px;
  text-align: center;
  margin-bottom: 4px;
  margin-top: 10px;
  display: -webkit-box;
  height: auto;
  max-height: 45px;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pic-container {
  position: relative;
  width: 100%;
}
.pic-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
}
.pic-container:hover::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.pic-container .cake-pic {
  display: block;
}
.pic-container .add-to-cart-button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  background: #fff;
  color: #333;
  padding: 12px 55px;
  align-items: center;
  width: auto;
  border-radius: 3px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  /* opacity: 1; */
}
.pic-container:hover .add-to-cart-button {
  opacity: 1;
  cursor: pointer;
}
.add-to-cart-button:hover {
  background: #c74060;
  color: #fff;
  transition: 0.2s;
}
@media only screen and (max-width: 1200px) {
  .menuList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vh;
  }
}

@media only screen and (max-width: 800px) {
  .menuList {
    grid-template-columns: 1fr;
  }
}
