.modal-container {
  width: 650px;
  height: 800px;
  padding: 20px;
  background-color: #fff;
  position: relative;
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 15px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 5px solid #c74060;
  border-bottom: 5px solid #c74060;
}

.form-group {
  max-width: 350px;
  margin: 0 auto;
}
.form-control {
  display: block;
  margin: 5px auto;
  /* min-width: 300px; */
  padding: 5px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
  color: grey;
  font-size: 17px;
}

.receiver-name {
  background-color: #ebebeb;
  height: 2.7em;
}

.receiver-name:hover {
  /* border-bottom: 5px solid; */
  /* box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219); */
  transform: translateY(-3px);
  /* width: 300px; */
  border-bottom: 3px solid #c74060;
  border-radius: 0%;
}

.receiver-address {
  background-color: #ebebeb;
  height: 2.7em;
}

.receiver-address:hover {
  /* border-bottom: 5px solid; */
  /* box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219); */
  transform: translateY(-3px);
  /* width: 300px; */
  border-bottom: 3px solid #c74060;
  border-radius: 0%;
}

.receiver-cellphone {
  background-color: #ebebeb;
  height: 2.7em;
}

.receiver-cellphone:hover {
  /* border-bottom: 5px solid; */
  /* box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219); */
  transform: translateY(-3px);
  /* width: 300px; */
  border-bottom: 3px solid #c74060;
  border-radius: 0%;
}

.receiver-title {
  color: grey;
  padding-bottom: 5px;
  cursor: default;
}

.delete-icon {
  background-color: #c74060;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}

.success-sending {
  width: 200px;
  color: white;
  background-color: #cd5e78;
  font-size: 20px;
  cursor: pointer;
  border: none;
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 15px;
}

.success-sending:hover {
  /* box-shadow: 10px 10px 10px 5px rgba(97, 92, 96, 0.219); */
  /* transform: translateY(-1px);
  width: 250px; */
  background: #c74060;
}
.data-receiver {
  margin-top: 25px;
  color: #3d3a3a;
  border-bottom: 2px solid #c74060;
  padding-bottom: 7px;
}
