body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.btn-box {
  display: flex;
  justify-content: space-between;
}
.products-box .product-img {
  width: 100%;
  height: 100%;
}
.product-img-box {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 450px) {
  .btn-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* .link {
  text-decoration: none;
} */

/* navbar_product */
.navbar_product {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
}

@media (max-width: 450px) {
  .navbar_product {
    flex-direction: column;
    justify-content: center;
  }
}

.navbar_product .logo {
  width: 150px;
  height: auto;
}

.navbar_product .logo img {
  width: 100%;
  height: 100%;
}

.navbar_product .rightside {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  margin-right: 26px;
  align-items: center;
}

@media (max-width: 450px) {
  .navbar_product .rightside {
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-right: 0px;
  }
}

.navbar_product .rightside div {
  margin: 0px 10px;
}

@media (max-width: 450px) {
  .navbar_product .rightside div {
    margin: 10px 0px;
  }
}

.navbar_product .rightside div .navlink {
  text-decoration: none;
  color: #000;
}

/* products */
.products-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.product {
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 24px;
  transition: all 0.3s ease-in-out;
  padding: 12px;
  border-radius: 10px;
}

.product:hover {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .product {
    width: 350px;
  }
}

/* .product .product-img {
  width: 180px;
  height: 215px;
} */

.product .product-img img {
  width: 100%;
  height: 100%;
}

.product .product-text {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.product .product-text.title {
  color: #c74060;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}

.product .product-text.description {
  height: 50px;
  overflow: hidden;
}

.product .product-text.price {
  font-weight: 600;
}

.product .product-text.cart-price {
  font-weight: 600;
  color: #c74060;
}

.cart-btn {
  background-color: #c74060 !important;
}

.cart-menu-btn {
  position: relative;
}

.cart-menu-btn .cart-indicator {
  width: 18px;
  background-color: #c74060;
  padding: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  top: -17px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .quantity-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 5px;
  border: 1px solid #b9b5b5;
  border-radius: 8px;
}

.product .quantity-box .action-btns {
  font-weight: 600;
  cursor: pointer;
}

/* summary box */
.summary-box {
  width: 300px;
  margin: 30px auto;
  border: 1px solid #b9b5b5;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.summary-box h5 {
  display: flex;
  border-bottom: 1px solid #e00a02;
  padding: 0px;
  justify-content: center;
}

.summary-box div {
  display: flex;
  justify-content: space-between;
}

/* modal css */
.shade-area {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* modal css */
.shade-area {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
