.col-4 {
  margin-top: 29px;
}
.booking_button {
  background: #c74060;
  color: #fff;
  padding: 12px 55px;
  align-items: center;
  width: auto;
  border-radius: 3px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  transition: transform 80ms ease-in;
}

.booking_button:active {
  transform: scale(0.95);
}

.booking_button:focus {
  outline: none;
}

.booking_button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap");

#container {
  box-shadow: 0 8px 15px 1px lightgrey;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 4em auto;
  height: 350px;
  width: 800px;
}

.product-details {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 40px;
  height: 100%;
  float: left;
  width: 45%;
  margin-left: 25px;
}

#container .product-details h1 {
  display: inline-block;
  position: relative;
  font-size: 28px;
  color: #344055;
  margin: 0 auto;
}

#container .product-details h1:before {
  position: absolute;
  content: "";
  right: 0%;
  top: 0%;
  transform: translate(25px, -15px);
  display: inline-block;
  background: #ffe6e6;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  color: white;
  margin: 0;
  animation: chan-sh 6s ease infinite;
}

.hint-star {
  display: inline-block;
  margin-left: 0.3em;
  color: gold;
  width: 50%;
  margin-top: 5px;
}

#container .product-details > p {
  text-align: center;
  font-size: 18px;
  color: #7d7d7d;
  margin-top: 10px;
}
.control {
  position: absolute;
  bottom: 20%;
  left: 22.8%;
}
.btn_course {
  transform: translateY(15px);
  transition: 0.3s linear;
  background: #c96b81;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: #eee;
  padding: 0;
  margin: 0;
}

.btn_course:hover {
  transform: translateY(10px);
  background: #c74060;
}

.btn_course span {
  transition: transform 0.3s;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 0;
}
.btn_course .price,
.shopping-cart {
  background: rgb(83, 82, 82);
  border: 0;
  margin: 0;
}

.btn_course .price {
  transform: translateX(-10%);
  padding-right: 15px;
}

.btn_course .shopping-cart {
  transform: translateX(-100%);
  position: absolute;
  background: rgb(69, 68, 68);
  z-index: 1;
  left: 0;
  top: 0;
}

.btn_course .buy {
  z-index: 3;
  font-weight: bolder;
}

.btn_course:hover .price {
  transform: translateX(-110%);
}

.btn_course:hover .shopping-cart {
  transform: translateX(0%);
}

.product-image {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: right;
  width: 45%;
  display: inline-block;
}

#container img {
  height: 100%;
}

.info-course {
  background: rgba(109, 107, 107, 0.9);
  opacity: 0.8;
  transition: all 0.3s ease-out;
  transform: translateX(-100%);
  position: absolute;
  line-height: 1.8;
  text-align: left;
  font-size: 105%;
  color: #fff;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.info-course h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 35px;
}
.product-image:hover .info-course {
  transform: translateX(0);
}

.info-course ul li {
  transition: 0.3s ease;
  margin-left: 20px;
  text-decoration: none;
  list-style: none;
}

.product-image:hover img {
  transition: all 0.3s ease-out;
}
.product-image:hover img {
  transform: scale(1.2, 1.2);
}
