/* #username {
  border: none;
  border-bottom: 1px solid;
}

.screen {
  width: 100%;
  height: 20px;
  background: #4388cc;
  color: #fff;
  line-height: 20px;
  font-size: 15px;
}

.smallBox::before {
  content: ".";
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 10px;
}
.greenBox::before {
  content: "";
  background: rgb(53, 129, 53);
}
.redBox::before {
  content: "";
  background: #984558;
}
.emptyBox::before {
  content: "";
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  background-color: #ccc;
}

.seats {
  border: 1px solid red;
  background: yellow;
}

.seatGap {
  width: 40px;
}

.seatVGap {
  height: 40px;
}

table {
  text-align: center;
  margin-left: 8%;
}

.Displaytable {
  text-align: center;
}
.Displaytable td,
.Displaytable th {
  border: 1px solid;
  text-align: left;
}

textarea {
  border: none;
  background: transparent;
}

input[type="checkbox"] {
  width: 15px;
  margin-right: 18px;
}

input[type="checkbox"]:before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  background-color: #ccc;
}

input[type="checkbox"]:checked:before {
  background-color: Green;
  font-size: 15px;
}

.viedo {
  margin-left: 34%;
}
.course-container {
  height: "auto";
  left: "0";
  width: "32%";
  z-index: 2;
  margin-left: "33%";
  margin-top: "9%";
}
#con-select {
  color: white;
  width: 24%;
  background-color: #ff4b2b;
  margin-left: 57%;
  border-radius: 20px;
}
.retrieve-form {
  background: rgb(246, 245, 247) none repeat scroll 0% 0%;
  width: max-content;
  margin-top: inherit;
  margin-left: -28%;
}
.pick-seats {
  background-color: #ff4b2b;
  color: white;
  width: 29%;
  margin-left: 71%;
  border-radius: 20px;
}
#retrieve-card {
  padding: 80px;
  margin-left: -28%;
}
.seat-pick {
  width: 100%;
  margin-left: -2%;
}
.ticket-booking {
  height: "auto";
  left: "0";
  width: "32%";
  z-index: 2;
  margin-left: "33%";
  margin-top: "9%";
}
@media only screen and (max-width: 600px) {
  .viedo {
    margin-left: auto;
  }
  .course-container {
    width: max-content;
    margin-left: auto;
  }
  .ticket-booking {
    width: max-content;
    margin-left: auto;
  }
  .feedback-form {
    position: absolute;
    top: 0px;
    height: inherit;
    left: -186px;
    width: 32%;
    z-index: 2;
    margin-left: auto;
    margin-top: 9%;
  }
  #navbar {
    padding-left: 116px;
  }
  .feedback {
    margin-top: -124px;
    margin-left: -73px;
  }
  .col-4 {
    margin-top: 29px;
  }
  .profile {
    padding-top: -1px;
  }
  #pro-nav {
    margin-top: -157px;
  }
  #dashboard {
    width: auto;
  }
  .stats {
    padding-left: 16px;
  }
  #table-nav {
    position: fixed;
    padding-right: 29px;
    padding-left: 410px;
    padding-top: 37px;
  }
  .seatStructure {
    width: inherit;
    margin-left: -284px;
  }
  #course-table {
    width: min-content;
  }
  #course-table-card {
    margin-left: 136px;
  }
  .card-title {
    margin-left: 140px;
  }
  #card-category {
    margin-left: 140px;
  }

  #admin-book-nav {
    padding-left: 130px;
  }
  .retrieve-bookings {
    margin-left: 5px;
  }
  .retrieve-form {
    margin-left: -196px;
    margin-top: 50px;
  }
  #retrieve-card {
    margin-left: -100px;
    padding: 25px;
  }
  #upload {
    padding-left: 133px;
  }
  .upload-font {
    font-size: 1.25rem;
  }
  .upload-form {
    width: max-content;
    margin-left: -50%;
  }
  .seat-pick {
    width: 50%;
    margin-left: 24%;
  }
  .pick-seats {
    background-color: rgb(255, 75, 43);
    color: white;
    width: 48%;
    margin-left: 0%;
    border-radius: 20px;
  }
  #con-select {
    color: white;
    width: 125%;
    background-color: rgb(255, 75, 43);
    margin-left: 114%;
    border-radius: 20px;
  }
  .alert-message {
    margin-bottom: 0px;
    background: yellow;
    margin-right: -279px;
  }
} */
