.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  background-color: white;
  padding-top: 100px;
  width: 100%;
}

.aboutBottom p {
  font-size: 20px;
  max-width: 1380px;
  padding: 0 30px;
}

.aboutBottom h1 {
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  transform: translateY(-40px);
}
@media screen and (max-width: 960px) {
  .aboutBottom p {
    width: 90%;
  }
}
