* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.aboutus {
  background-image: url("./images/banner0.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.cakeorder {
  background-image: url("./images/banner4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 100px;
}
.coursebooking {
  background-image: url("./images/banner0.jpeg");
  background-position: center !important;
  background-size: cover;
  background-repeat: no-repeat !important;
  color: #fff !important;
  font-size: 80px;
  padding-top: 150px;
  height: 400px;
  text-align: center;
}
.courseintro {
  background-image: url("./images/banner0.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.customize_heading {
  background-image: url("./images/banner4.png") !important;
  background-position: center !important;
  background-size: cover;
  background-repeat: no-repeat !important;
  color: #fff !important;
  font-size: 75px;
  padding-top: 150px;
  height: 400px;
}
.news {
  background-image: url("./images/banner0.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  text-align: center;
}
.workdisplay {
  background-image: url("./images/banner4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 80px;
  padding-top: 150px;
  height: 400px;
  text-align: center;
}

.aboutus,
.cakeorder,
.contactus,
.courseintro {
  font-size: 80px;
  padding-top: 150px;
  height: 400px;
  text-align: center;
}

.news {
  font-size: 80px;
  padding-top: 150px;
  height: 400px;
  margin-bottom: 40px;
}
.account {
  background-image: url("./images/banner4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 80px;
  padding-top: 150px;
  height: 400px;
  text-align: center;
}

.cartinfo {
  background-image: url("./images/banner4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 80px;
  padding-top: 150px;
  height: 400px;
}
